# Test Report

- Total: 44
- Passed: 24
- Failed: 20

## ✅ Pos_Fun_0001 - eppothum naangal gavanamaaga iruppathu avasiyam
- Status: passed
- Duration(ms): 9955
- Attachment: test-data

## ✅ Pos_Fun_0002 - nee naalakku kandi poviya?
- Status: passed
- Duration(ms): 7197
- Attachment: test-data

## ✅ Pos_Fun_0003 - indaiku naan office mudinju sapida poram 
- Status: passed
- Duration(ms): 8750
- Attachment: test-data

## ✅ Pos_Fun_0004 - naan padippen appuram vela seiven
- Status: passed
- Duration(ms): 13146
- Attachment: test-data

## ✅ Pos_Fun_0005 - indaiku weather nallaa irukku adhaan naan veliya ponen
- Status: passed
- Duration(ms): 15619
- Attachment: test-data

## ✅ Pos_Fun_0006 - Diltan arumai uncle ien makan
- Status: passed
- Duration(ms): 13603
- Attachment: test-data

## ✅ Pos_Fun_0007 - Shiromy romba azhaga irukkaa
- Status: passed
- Duration(ms): 7259
- Attachment: test-data

## ✅ Pos_Fun_0008 - Nee eppo assignment submit seiyappogirai?
- Status: passed
- Duration(ms): 8730
- Attachment: test-data

## ✅ Pos_Fun_0009 - naan maama voda kadalukku poren
- Status: passed
- Duration(ms): 13437
- Attachment: test-data

## ✅ Pos_Fun_0010 - Athithya enai nesikum oru anpu sakothari
- Status: passed
- Duration(ms): 14526
- Attachment: test-data

## ✅ Pos_Fun_0011 - naan indaiku oru kadaila saapiden
- Status: passed
- Duration(ms): 14217
- Attachment: test-data

## ✅ Pos_Fun_0012 - Neengal kaalaiyil Eththanai manikku elumbugireergal?
- Status: passed
- Duration(ms): 9421
- Attachment: test-data

## ✅ Pos_Fun_0013 - konjam help panraiya?
- Status: passed
- Duration(ms): 13232
- Attachment: test-data

## ✅ Pos_Fun_0014 - Avan naalai payanam pogiraan
- Status: passed
- Duration(ms): 13582
- Attachment: test-data

## ✅ Pos_Fun_0015 - Nee enka pora
- Status: passed
- Duration(ms): 5965
- Attachment: test-data

## ✅ Pos_Fun_0016 - enaku athu vendam
- Status: passed
- Duration(ms): 12153
- Attachment: test-data

## ✅ Pos_Fun_0017 - indaiku  kapal varukenrathu
- Status: passed
- Duration(ms): 13335
- Attachment: test-data

## ✅ Pos_Fun_0018 - epdi iruka?
- Status: passed
- Duration(ms): 11554
- Attachment: test-data

## ✅ Pos_Fun_0019 - nalaku class Eththanai maniku 
- Status: passed
- Duration(ms): 7249
- Attachment: test-data

## ✅ Pos_Fun_0020 - naan oru manavan 
- Status: passed
- Duration(ms): 6616
- Attachment: test-data

## ✅ Pos_Fun_0021 - Neenkal eaan epadi pakurenkal? 
- Status: passed
- Duration(ms): 7150
- Attachment: test-data

## ✅ Pos_Fun_0022 - Saran epovum sapiduvan
- Status: passed
- Duration(ms): 12841
- Attachment: test-data

## ✅ Pos_Fun_0023 - kovil mani kekum 
- Status: passed
- Duration(ms): 6786
- Attachment: test-data

## ✅ Pos_Fun_0024 - nalaiku padasalai vedumurai
- Status: passed
- Duration(ms): 12800
- Attachment: test-data

## ❌ Neg_Fun_0025 - indaiku kapal varukenrathu
- Status: failed
- Duration(ms): 13039
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"இண்டைக்கு கப்பல் வருகிறது"[39m
Received string:    [31m"இண்டைக்கு கப்பல் வருகின்றது"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0025 - indaiku kapal varukenrathu
- Status: failed
- Duration(ms): 12605
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"இண்டைக்கு கப்பல் வருகிறது"[39m
Received string:    [31m"இண்டைக்கு கப்பல் வருகின்றது"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0026 - enna seyyanum
- Status: failed
- Duration(ms): 12485
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"என்ன செய்யவேண்டும்"[39m
Received string:    [31m"என்ன செய்யணும்"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0026 - enna seyyanum
- Status: failed
- Duration(ms): 11491
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"என்ன செய்யவேண்டும்"[39m
Received string:    [31m"என்ன செய்யணும்"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0027 - avanga office poganum
- Status: failed
- Duration(ms): 12563
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"அவர்கள் ஆபீசுக்கு போகனும்"[39m
Received string:    [31m"அவங்க ஆபீஸ் போகணும்"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0027 - avanga office poganum
- Status: failed
- Duration(ms): 12878
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"அவர்கள் ஆபீசுக்கு போகனும்"[39m
Received string:    [31m"அவங்க ஆபீஸ் போகணும்"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0028 - avan pazhaya car vaangiRaan 
- Status: failed
- Duration(ms): 13550
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"அவன் பழைய கார்வாங்கிறான்"[39m
Received string:    [31m"அவன் பழைய கார் வாங்கிறான்"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0028 - avan pazhaya car vaangiRaan 
- Status: failed
- Duration(ms): 13142
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"அவன் பழைய கார்வாங்கிறான்"[39m
Received string:    [31m"அவன் பழைய கார் வாங்கிறான்"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0029 - enna samayal seivathu
- Status: failed
- Duration(ms): 11973
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"என்ன சமையல் செய்ய்வது"[39m
Received string:    [31m"என்ன சமையல் செய்வது"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0029 - enna samayal seivathu
- Status: failed
- Duration(ms): 14257
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"என்ன சமையல் செய்ய்வது"[39m
Received string:    [31m"என்ன சமையல் செய்வது"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0030 - neenga ready ah irukkeenga
- Status: failed
- Duration(ms): 12770
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"நீங்கள் ரெடி ஆ இருக்கீங்கா"[39m
Received string:    [31m"நீங்க ரெடி ஆஹ் இருக்கீங்க"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0030 - neenga ready ah irukkeenga
- Status: failed
- Duration(ms): 12585
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"நீங்கள் ரெடி ஆ இருக்கீங்கா"[39m
Received string:    [31m"நீங்க ரெடி ஆஹ் இருக்கீங்க"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0031 - avan vanga book?
- Status: failed
- Duration(ms): 12992
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"அவன் வாங்கும் புத்தகம்!"[39m
Received string:    [31m"அவன் வாங்க புக்?"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0031 - avan vanga book?
- Status: failed
- Duration(ms): 13065
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"அவன் வாங்கும் புத்தகம்!"[39m
Received string:    [31m"அவன் வாங்க புக்?"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0032 - naan tea 10.00 maniku kudikkiren
- Status: failed
- Duration(ms): 13894
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"நான் டீ 10.00 மணிக்கு குடிக்கிறேன்!"[39m
Received string:    [31m"நான் டி ௧௦.௦௦ மணிக்கு குடிக்கிறேன்"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0032 - naan tea 10.00 maniku kudikkiren
- Status: failed
- Duration(ms): 13387
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"நான் டீ 10.00 மணிக்கு குடிக்கிறேன்!"[39m
Received string:    [31m"நான் டி ௧௦.௦௦ மணிக்கு குடிக்கிறேன்"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0033 - unga veedu periya veedu
- Status: failed
- Duration(ms): 13744
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"உங்க வீடு பெரிய வீடு aa"[39m
Received string:    [31m"உங்க வீடு பெரிய வீடு"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0033 - unga veedu periya veedu
- Status: failed
- Duration(ms): 13030
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"உங்க வீடு பெரிய வீடு aa"[39m
Received string:    [31m"உங்க வீடு பெரிய வீடு"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0034 - ennai marandhutaanga
- Status: failed
- Duration(ms): 13419
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"என்னை மறந்துடாங்க"[39m
Received string:    [31m"என்னை மறந்துட்டாங்க"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0034 - ennai marandhutaanga
- Status: failed
- Duration(ms): 12312
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"என்னை மறந்துடாங்க"[39m
Received string:    [31m"என்னை மறந்துட்டாங்க"[39m
- Attachment: test-data
- Attachment: error-context
